.hello-bar {
  background-color: $body-bg;
}

.hello-bar-dark {
  text-decoration: none;

  .hello-bar-content {
    background-color: $color-primary-dark;
    color: $color-white;

    &:hover {
      color: $color-transparent-white-alt;
    }

  }

  &:hover {
    text-decoration: none;
  }

}

.hello-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;

  @include ie10-and-up {
    width: 770px;
  }

  img {
    height: 30px;
    flex: 0 0 auto;
  }

  p {
    @include font-weight-regular;
    margin: 0 0 0 10px;
    font-size: 16px;
  }
}
